/* LOGIN */
body {
    padding-top: 90px;
}
.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #029f5b;
	font-size: 18px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
*, *:before, *:after {
	box-sizing: border-box;
  }
  
  html {
	overflow-y: scroll;
  }
  
  body {
	background: #c1bdba;
	font-family: 'Titillium Web', sans-serif;
  }
  
  a {
	text-decoration: none;
	color: #b19e62;
	-webkit-transition: .5s ease;
	transition: .5s ease;
  }
  a:hover {
	color: #b19e62;
  }

  @media screen and (max-width: 1024px) {
	.form {
		max-width: 700px;
	}
  }
  
  .form {
	background: rgba(32, 32, 32, 0.9);
	padding: 40px;
	max-width: 700px;
	margin: 40px auto;
	border-radius: 4px;
	box-shadow: 0 4px 10px 4px rgba(10, 10, 10, 0.3);
  }
  
  .tab-group {
	list-style: none;
	padding: 0;
	margin: 0 0 40px 0;
  }
  .tab-group:after {
	content: "";
	display: table;
	clear: both;
  }
  .tab-group li a {
	display: block;
	text-decoration: none;
	padding: 15px;
	background: rgba(160, 179, 176, 0.25);
	color: #a0b3b0;
	font-size: 20px;
	float: left;
	width: 50%;
	text-align: center;
	cursor: pointer;
	-webkit-transition: .5s ease;
	transition: .5s ease;
  }
  .tab-group li a:hover {
	background: #b19e62;
	color: #ffffff;
  }
  .tab-group .active a {
	background: #b19e62;
	color: #ffffff;
  }
  
  .tab-content > div:last-child {
	display: none;
  }
  
  h1 {
	text-align: center;
	color: #ffffff;
	font-weight: 300;
	margin: 0 0 40px;
  }
  
  label {
	position: absolute;
	-webkit-transform: translateY(6px);
			transform: translateY(6px);
	left: 13px;
	color: rgba(255, 255, 255, 0.5);
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
	-webkit-backface-visibility: hidden;
	pointer-events: none;
	font-size: 1.1em;
  }
  label .req {
	margin: 2px;
	color: #b19e62;
  }
  
  label.active {
	-webkit-transform: translateY(50px);
			transform: translateY(50px);
	left: 2px;
	font-size: 14px;
  }
  label.active .req {
	opacity: 0;
  }
  
  label.highlight {
	color: #ffffff;
  }
  
  input, textarea {
	font-size: 22px;
	display: block;
	width: 100%;
	height: 100%;
	padding: 5px 10px;
	background: none;
	background-image: none;
	border: 1px solid #a0b3b0;
	color: #ffffff;
	border-radius: 0;
	-webkit-transition: border-color .25s ease, box-shadow .25s ease;
	transition: border-color .25s ease, box-shadow .25s ease;
  }
  input:focus, textarea:focus {
	outline: 0;
	border-color: #b19e62;
  }
  
  textarea {
	border: 2px solid #a0b3b0;
	resize: vertical;
  }
  
  .field-wrap {
	height: 75px;
	position: relative;
	margin-bottom: 40px;
	font-size: 1.3em;
  }
  
  .top-row:after {
	content: "";
	display: table;
	clear: both;
  }
  .top-row > div {
	float: left;
	width: 48%;
	margin-right: 4%;
  }
  .top-row > div:last-child {
	margin: 0;
  }
  
  .button {
	border: 0;
	outline: none;
	border-radius: 0;
	padding: 15px 0;
	font-size: 2rem;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: .1em;
	background: #b19e62;
	color: #ffffff;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	-webkit-appearance: none;
  }
  .button:hover, .button:focus {
	background: #b19e62;
  }
  
  .button-block {
	display: block;
	width: 100%;
  }
  
  .forgot {
	margin-top: -20px;
	text-align: right;
  }