*, *:before, *:after {
	box-sizing: border-box;
} 

html {
	overflow-y: scroll;
}

body {
	background: #fff;
	font-family: 'Titillium Web', sans-serif;
}

a {
	text-decoration: none;
	color: #ccae51;
	-webkit-transition: .5s ease;
	transition: .5s ease;
}
a:hover {
	color: #ccae51;
}

.form {
	background: #1a232b;
	padding: 40px;
	max-width: 700px;
	margin: 40px auto;
	border-radius: 4px;
	box-shadow: 0 4px 10px 4px rgba(10, 10, 10, 0.3);
}

.reg-form {
	background: #1a232b;
	max-width: 700px;
	margin: 40px auto;
	border-radius: 4px;
	box-shadow: 0 4px 10px 4px rgba(10, 10, 10, 0.3);
}

input::placeholder {
	color: #aaa;
}

.tab-group {
	list-style: none;
	padding: 0;
	margin: 0 0 40px 0;
}
.tab-group:after {
	content: "";
	display: table;
	clear: both;
}
.tab-group li a {
	display: block;
	text-decoration: none;
	padding: 15px;
	background: rgba(160, 179, 176, 0.25);
	color: #a0b3b0;
	font-size: 20px;
	float: left;
	width: 50%;
	text-align: center;
	cursor: pointer;
	-webkit-transition: .5s ease;
	transition: .5s ease;
}
.tab-group li a:hover {
	background: #ccae51;
	color: #ffffff;
}
.tab-group .active a {
	background: #ccae51;
	color: #ffffff;
}

.tab-content > div:last-child {
	display: none;
}

h1 {
	text-align: center;
	color: #ffffff;
	font-weight: 300;
	margin: 0 0 40px;
}

label {
	-webkit-transform: translateY(6px);
			transform: translateY(6px);
	left: 13px;
	color: rgba(255, 255, 255, 0.5);
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
	-webkit-backface-visibility: hidden;
	pointer-events: none;
	font-size: 1.1em;
}
label .req {
	margin: 2px;
	color: #ccae51;
}

label.active {
	-webkit-transform: translateY(50px);
			transform: translateY(50px);
	left: 2px;
	font-size: 14px;
}
label.active .req {
	opacity: 0;
}

label.highlight {
	color: #ffffff;
}

input, textarea {
	font-size: 22px;
	display: block;
	width: 100%;
	height: 100%;
	padding: 5px 10px;
	background: none;
	background-image: none;
	border: 1px solid #a0b3b0;
	color: #ffffff;
	border-radius: 5px;
	-webkit-transition: border-color .25s ease, box-shadow .25s ease;
	transition: border-color .25s ease, box-shadow .25s ease;
}
input:hover, input:focus, textarea:focus {
	outline: 0;
	border-color: #ccae51;
}

textarea {
	border: 1px solid #a0b3b0;
	resize: vertical;
}

.field-wrap {
	height: 75px;
	position: relative;
	color: #aaa;
	margin-bottom: 40px;
	font-size: 1.3em;
}

.top-row:after {
	content: "";
	display: table;
	clear: both;
}
.top-row > div {
	float: left;
	width: 48%;
	margin-right: 4%;
}
.top-row > div:last-child {
	margin: 0;
}

.button {
	border: 0;
	outline: none;
	border-radius: 0;
	padding: 15px 0;
	font-size: 2rem;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: .1em;
	background: #ccae51;
	color: #ffffff;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	-webkit-appearance: none;
}
.button:hover, .button:focus {
	background: #ccae51;
}

.button-block {
	display: block;
	width: 100%;
}
  
.forgot {
	margin-top: -20px;
	text-align: right;
}

.drop-box {
	background: #1a232b; 
	border-color: #a0b3b0; 
	border-radius: 0px;
	font-size: 22px;
	color: #fff;
	height: 75px;
	width: 300px;
	
}

.drop-box:hover, .button:focus {
	border-color: #ccae51;
}

/*****REGISTER PAGES*****/

.reg-whole {
	margin: 0 auto;
	width: 50%;
}

.reg-head {
	font-family: 'Titillium Web', sans-serif;
	margin: 20px auto;
	padding: 10px;
	text-align: center;
	color: white;
	border-bottom: 1px solid #a0b3b0;
	font-size: 30px;
}

.reg-form {
	background: #1a232b;
	padding: 40px;
	max-width: 700px;
	margin: 40px auto;
	border-radius: 4px;
	box-shadow: 0 4px 10px 4px rgba(10, 10, 10, 0.3);
}

.text-line {
	height: 75px;
	width: 275px;
	margin: 8px;
	border: 1px solid #a0b3b0;	
}

.text-box {
	height: 200px;
	width: 600px;
	margin: 20px 8px;
	color: #fff;
	border: 1px solid #a0b3b0;	
}

.text-box:hover {
	border-color: #ccae51;
}

.text-box::placeholder, .text-line::placeholder {
	color: #aaa;
}

.trainer-text {
	margin: 10px;
}
.potential-client-class, .current-client-class {
	width: 500px;
	height: 75px;
	background: #888;
	transition: height 0.8s;
}

.appear {
	height: 300px;
}

.plus {
	width: 20px;
}

.client-div, .other-client-div {
	width: 500px;
	height: 75px;
	background: #888;
}

/***SEARCH FOR CLIENT***/


.profile {
	background: #eee;
	color: #1a232b;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-template-areas: "min-prof" 
						"bio" 
						"btn";
	border-radius: 5px;
}

h2, h3 {
	border-bottom: 1px solid #ccae51;
	width: 75px;
	font-size: 1.3em;
	margin: 0 auto;
	text-align: center;
}

h4 {
	text-align: center;
}

img {
	height: 300px;
	width: 250px;
	margin: 20px 15px;
	padding: 10px;
	background: #1a232b;
	box-shadow: #222 5px 5px 5px;
	border-radius: 5px;
}

.color-back {
	background: #1a232b;
}

.prof-pic {
	margin: 0 auto;
}

.left-prof {
	grid-area: min-prof;
	margin: 20px auto;
}

.info {
	grid-area: bio;
	margin: 20px 40px;;
}

.btns {
	grid-area: btn;
	margin: 20px auto;
} 

.head-two {
	margin: 0 auto;
}

.view-btn-div, .msg-btn-div, .rqst-btn-div {
	margin: 10px;
}

.view-btn {
	width: 225px;
	height: 75px;
	font-size: 1.3em;
	color: white;
	background: rgb(56, 117, 56);
	border: none;
	border-radius: 5px;
}

.view-btn:hover {
	background: rgb(79, 143, 79);
	transition: 0.8s;
}

.msg-btn-div, .rqst-btn-div {
	display: inline-block;
}

.msg-btn, .rqst-btn, .delete-btn {
	width: 100px;
	height: 50px;
	font-size: 1.1em;
	color: white;
	border: none;
}

.msg-btn {
	background: rgb(73, 73, 155);
	border-radius: 5px;
	
}

.msg-btn:hover {
	background: rgb(99, 99, 172);
	transition: 0.8s;
}

.rqst-btn {
	background: rgb(73, 139, 155);
	border-radius: 5px;
	
}

.rqst-btn:hover {
	background: rgb(107, 176, 192);
	transition: 0.8s;
	
}

.delete-btn {
	background: rgb(155, 41, 41);
	border-radius: 5px;	
}

.delete-btn:hover {
	background: rgb(184, 70, 70);
	transition: 0.8s;	
}

p {
	padding: 20px;
	border: 1px solid #ccae51;
	border-radius: 5px;
	width: auto;
}


@media (min-width: 768px) {
	.profile {
		color: #1a232b;
		grid-template-columns: 1fr 3fr;
		grid-template-rows: auto;
		grid-template-areas: "min-prof bio" 
							"btn btn"; 
	}
	h2, h3 {
		border-bottom: 1px solid #ccae51;
		width: 50px;
		font-size: 1em;
		margin: 10px auto;
		text-align: center;
	}
	img {
		height: 300px;
		width: 250px;
		/* margin: 50px; */
	}
	.left-prof {
		margin: 20px;
	}
	
	.info {
		margin: 20px;
	}
	
	.btns {
		margin: 20px auto;
	}
}

@media (min-width: 1024px) {
	.profile {
		color: #1a232b;
		grid-template-columns: 1fr 3fr 1fr;
		grid-template-rows: auto;
		grid-template-areas: "min-prof bio btn"; 
	}
	h2, h3 {
		border-bottom: 1px solid #ccae51;
		width: 50px;
		font-size: 1em;
		margin: 10px auto;
		text-align: center;
	}
	img {
		height: 200px;
		width: 150px;
	}

	.left-prof {
		padding: 0px 30px;
		border-right: 1px solid #ccae51;
	}
	
	.info {
		padding: 10px 30px;
		border-right: 1px solid #ccae51;		
	}
	.small-info {
		margin: 10px auto;
	}
}