body {
    background: #1a232b;
}

h2, h3 {
    font-family: Verdana, sans-serif;
    font-weight: bold;
}
#full-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: ". content .";
    background: #fff;
}

#space-one, #space-two {
    grid-area: '.';
    background: #1a232b;
}

#client-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "client-img client-info client-info client-info"
                         "workout     workout     notes       notes";
    grid-area: content;
    height: 100%;
}
#client-prof, #client-info {
    color: #1a232b;
}
#client-info h2, .client-name h2 {
    text-decoration: underline #ccae51;
}

/***NAV BAR***/

#top-nav {
    background: rgba(243, 243, 243, 0.973);
    height: 100px;
    
}
.nav-bar {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "raise links";
    text-decoration: none;
}
.nav-raise-logo a {
	font-size: 2em;
	text-decoration: none;
	color: #1a232b;
	font-family: Verdana, sans-serif;
}
.nav-raise-logo {
    grid-area: raise;
    margin: 35px 30px 0px 20px;
    color: #1a232b;
}
.nav-bar-links {
    grid-area: links;
    margin: 35px 10px 0px 40px;
    color: #1a232b;
}
.nav-bar-links .link {
	display: inline;
}
.nav-bar-links p {
    display: inline;
    margin: 0px;
    border: none;
    color: #c9a437;
}

.nav-bar-links a {
    color: #1a232b;
    margin: 0px 5px;
    font-size: 1.3em;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-shadow: #888 5px 5px 5px;
}
.nav-bar a:hover {
    color: #c9a437;
    text-shadow: #888 -5px -5px 5px; 
    transition: 0.8s;
}
/***PORTRAIT SECTION***/

#client-prof {
    grid-area: client-img;
    border-right: 1px #ccae51 solid;
    border-bottom: 1px #ccae51 solid;
    width: 100%;
}

.client-name h2 {
    text-align: center;
}

.client-image {
    background: #1a232b;
    padding: 20px;
    display: inline-block;
    width: 150px;
    height: 200px;
    margin:  10px 30px 30px 30px;
    box-shadow: #222 5px 5px 5px;
    border-radius: 5px;
}

img {
    height: 200px;
    width: 150px;
}

/***INFO SECTION***/

#client-info {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "height goal"
                         "weight goal";
    grid-area: client-info;
    grid-column: span 3;
    border-bottom: 1px #ccae51 solid;
    padding: 20px;
}

#client-info p {
    color: #fff;
    background:rgba(124, 124, 124, 0.664);
    border-radius: 5px;
    padding: 10px;
    margin: 10px 10px 0px 0px;
    box-shadow: #888 5px 5px 5px;
}

.client-height {
    display: inline-block;
    grid-area: height;
    grid-column: span 1;
}
.client-weight {
    display: inline-block;
    grid-area: weight;
    grid-column: span 1;
}
.client-goal {
    display: inline-block;
    grid-area: goal;
    grid-column: span 2;
}

/***WORKOUT SECTION***/

#workout {
    grid-area: workout;
    grid-column: span 2;
    border-right: 1px #ccae51 solid;
    border-top: 1px #ccae51 solid;
}

.client-workout {
    color: white;
    background: #4E9231;
    display: block;
    border-bottom: 1px solid #ccae51;
    text-align: center;
}
.client-workout:hover {
    background: #669F4E;
    border-bottom: 1px solid #ccae51;
}
.client-workout h2 {
    margin: 20px;
    display: inline-block;
    text-align: center;
}
.add-workout {
    background: rgb(126, 126, 126);
    display: block;
    text-align: center;
    margin: 0 auto;
}
.add-workout:hover {
    background: rgb(156, 156, 156);
}
.add-workout h2 {
    color: #fff;
    margin: 20px;
    display: inline-block;
    font-size: 1.5em;
    text-align: center;
}

/***NOTES SECTION***/

#notes {
    grid-area: notes;
    grid-column: span 2;
    
}

/***GENERAL NOTE COLORS***/

.general-notes {
    background: #5f5fb4;
}
.general-notes:hover {
    background: #7575d3;
}

/***SPECIFIC NOTE COLOR***/

.specific-notes {
    background: rgb(75, 141, 132);
}
.specific-notes:hover {
    background: rgb(112, 163, 156);
}

/***NOTES CSS***/

.general-notes, .specific-notes {
    color: white;
    border-top: 1px solid #ccae51;
    transition: height 0.8s;
}
.extend-general, .extend-specific {  
    display: inline;
    font-size: 1.5em;
}
.general-notes h2, .specific-notes h2 {
    text-align: center;
    display: inline-block;
    margin: 20px auto;    
}
.general-notes h3, .specific-notes h3 {
    margin: 20px;
    display: inline;    
}
.general-note-section p, .specific-note-section p {
    background:rgba(124, 124, 124, 0.664);
    box-shadow: #888 5px 5px 5px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
.general-panel, .specific-panel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "notes btns";
    background: #fff;
}

/***NOTE BUTTONS***/

input[type="file"] {
    display: none;
}
.file-customize {
    display: block;
    text-align: center;
    margin: 20px;
    background: rgb(75, 141, 132);
    width: 100px;
    height: 50px;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    font-size: 1em;
}
.file-customize:hover {
    background:rgb(112, 163, 156);
}
.general-note-btns, .specific-note-btns {
    border-left: 1px solid #ccae51;
}
.add-note-btn {
    display: block;
    background-color: #5f5fb4;
    color: #fff;
    border: none;
    margin: 20px;
    width: 100px;
    height: 50px;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    font-size: 1em;
}

.view-note-btn{
	display: block;
    background-color: #5f5fb4;
    color: #fff;
    border: none;
    margin: 20px;
    width: 100px;
    height: 50px;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    font-size: 1em;
}
.add-note-btn:hover {
    background: #7575d3;
}
.remove-note-btn {
    display: block;
    background-color: #af1f1f;
    color: #fff;
    border: none;
    margin: 20px;
    width: 100px;
    height: 50px;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    font-size: 1em;
}
.remove-note-btn:hover {
    background: #d42323;
}

/***JQUERY CSS***/

.appear {
    height: 300px;
}

 /***THE MODAL(background)***/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/***Modal Content(NEW MESSAGE)***/
.modal-content {
    background-color: #fff;
    gird-template-rows: 1fr 2fr;
    grid-template-areas: "heading"
    					"message-box";
    margin: auto;
    padding: 20px;
    border: 1px solid #7d97a5;
    width: 50%;
    height: auto;
}
.messgae-head {
	background: #5f5fb4;
	width:75%;
	grid-area: heading;
}
.messgae-head h2 {
	background: #5f5fb4;
	display: inline;
	width:75%;
	grid-area: heading;
}
.message-body {
	grid-area: message-box;
	display: inline-block;
	width: 250px;
}
.note-input {
	height: 200px;
	width: 350px;
	border: 1px solid #ccae51; 
}
.note-submit input[type="submit"]{
	height: 25px;
	width: 75px;
	background: #5f5fb4;
}
/* The Close Button */
.close {
    color: #222a2e;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #222a2e;
    text-decoration: none;
    cursor: pointer;
}

/***Modal Content(VIEW NOTES)***/
.general-note-section {
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 1fr auto;
	grid-template-areas:"heading" 
						"body";
}
.view-notes-heading {
	grid-area: heading;
}
.view-note-body {
	grid-area: body;
	grid-template-columns: 2fr 1fr;
	grid-template-areas: "notes timestamp";
}
.note-content, .note-timestamp {
	display: inline-block;
	background: #aaa;
	margin: 10px;
	padding: 10px;
	border-radius: 5px;
	box-shadow: #888 5px 5px 5px;
	color: #fff;
	
}
.note-content {
	grid-area: notes;
	width: 40%;
}
 .note-timestamp {
	grid-area: time-stamp;
	width: 20%;
}